/* Reset */
body {
  background-image: url("bg3.png");
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SIDEBAR */
.sidebar {
  width: 250px;
  background-color: #2745f1;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  height: 100vh;
}

.sidebar h2 {
  margin-bottom: 20px;
  margin-top: 30px;
  font-size: 35px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

.sidebar nav ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin-top: 50px;
}

.sidebar nav ul li {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: block;
  border-radius: 10px;
  padding: 5px;
  padding-top: 20px;
}

.sidebar nav ul li a {
  color: #fff;
  text-decoration: none;
  text-align: left;
  text-wrap: nowrap;
  font-size: 25px;
  font-weight: bold;
  display: block;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  width: 200px;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar nav ul li a:hover {
  background-color: #fff;
  color: #333;
  border-radius: 5px;
}

.social-icons {
  margin-top: auto;
  display: flex;
  gap: 10px;
}

.social-icons img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s;
}

.social-icons img:hover {
  transform: scale(1.5);
}

/* HEADER */
.content {
  margin-left: 250px;
  padding: 20px;
  flex-grow: 1;
}

header {
  padding: 20px 0;
  text-align: center;
  background-color: rgba(137, 170, 233, 0.05);
  margin-left: 50px;
  justify-content: center;
  align-items: center;
  height: 100px;
  overflow: hidden;
}

header #animated-text {
  padding-bottom: 200px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 50px;
  font-weight: bold;
  border-right: 2px solid white;
  color: #333;
  letter-spacing: 10px;
  animation: blink-caret 0.7s step-end infinite;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

/* SOBRE */
.informacoes #texto {
  background-color: rgba(255, 255, 255, 0.35);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 8px;
  font-size: 18px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 50px;
  margin-top: 50px;
}

.informacoes #about {
  margin-left: 50px;
  margin-top: 200px;
  font-size: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: white;
}

.informacoes hr {
  margin-left: 50px;
  border-radius: 5px;
}

/* GALLERY */
.textogaleria {
  margin-left: 50px;
  margin-top: 75px;
  margin-bottom: 50px;
  font-size: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: white;
}

.textogaleria hr{
  border-radius: 5px;
}

.gallery {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 50px;
}

.zoomable {
  width: 200px;
  height: auto;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.zoomable:hover {
  transform: scale(1.1);
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
  justify-content: center;
  align-items: center;
}

.modal-content {
  max-width: 80%;
  max-height: 80%;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

/* CONTACT */
.contato {
  margin-top: 75px;
  padding: 20px 0;
  text-align: left;
  margin-left: 50px;
}

.textocontato {
  font-size: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: white;
}

.textocontato hr {
  border-radius: 5px;
  margin-bottom: 50px;
}

.contato form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin: 0 auto;
}

.contato form label {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contato form input {
  width: 50%;
  border-radius: 5px;
}

.contato form input,
.contato form button {
  padding: 10px;
  font-size: 1em;
}

.contato form button {
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 10%;
  border-radius: 5px;
}

.contato form button:hover {
  background-color: #555;
}

/* Footer */
.footer {
  margin-left: 250px;
  background-color: rgb(39, 107, 231);
  color: #070606;
  text-align: center;
  padding: 20px 0;
  font-size: 0.9em;
  height: 50px;
}

.footer p {
  margin: 0;
}

/* RESPONSIVE DESIGN */
@media (max-width: 1024px) {
  /* Sidebar in horizontal layout */
  .sidebar {
    position: relative;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
  }

  .sidebar h2 {
    display: none; /* Optional: Hide the sidebar title in mobile view */
  }

  .sidebar nav ul {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .sidebar nav ul li {
    padding: 0;
    padding-top: 0;
  }

  .sidebar nav ul li a {
    font-size: 15px;
    padding: 7px;
    width: auto;
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 0;
  }

  /* Header above sidebar */
  header {
    position: relative;
    margin: 0;
    padding: 10px;
    background-color: rgba(137, 170, 233, 0.9);
    font-size: 18px;
    height: auto;
  }

  header #animated-text {
    font-size: 24px;
    letter-spacing: 5px;
    padding: 0;
    border-right: 1px solid white;
  }

  /* Content below sidebar */
  .content {
    margin: 0;
    padding: 10px;
  }

  /* Other adjustments */
  .informacoes #texto {
    margin: 10px 0;
    font-size: 16px;
  }

  .informacoes hr{
    margin: 0 0;
  }
  .informacoes #about {
    margin: 10px 0;
    font-size: 24px;
  }

  .informacoes #texto{
    font-size: 18px;
  }
  .textogaleria{
    font-size: 24px;
  }

  .textogaleria, hr{
    margin: 0 0;
    
  }
  .gallery {
    margin: 10px 0;
  }

  .zoomable {
    width: 150px;
  }

  .contato {
    margin: 10px 0;
  }

  .contato form button {
    width: 25%;
    margin-left: 35%;
    
  }

  .contato form input{
    width: 100%;
  }

  .textocontato {
    font-size: 24px;
  }

  .footer {
    margin: 0;
    padding: 10px;
    font-size: 0.8em;
    height: auto;
  }
}
